# Lambda Function

Python Lambda function is known as the anonymous function that is defined without a name. Python allows us to not declare the function in the standard manner, i.e., by using the def keyword. Rather, the anonymous functions are declared by using the lambda keyword. However, Lambda functions can accept any number of arguments, but they can return only one value in the form of expression.

In short, lambda function is a special type of function without the function name and it is also known as anonympous function means no function name.

Syntax: [lambda arguments : expression]

 Arguments- any value passed to the lambda function.
 
 Expression- expression is executed and return.

# Difference between function & lambda

Both function & lambda function is same but lambda function has no function name.

In Lambda we write code in a single line.

# Lambda function examples-

## Printing hello python

In [1]:
a= lambda:print("Hello Python") 
# here we define a lambda function and we assigned its value to vairable a.
a() #for execution we need to call it.

Hello Python

Note-
In this function there is no argument

## Additon

In [3]:
add=lambda x,y : x+y
#here we define a lambda function and assigned its value to add
# Here,x and y after the keyword lambda specifies that lambda function accepts the arguments named a,b
add(10,40) #here we call the function by passing two values in it.

50

In [5]:
add=lambda x,y:x+y #creating lambda function and passing it to add
a=20 #pass the value we want to add
b=60
add(a,b) #we also did in this way

80

## Cube of a number

In [6]:
cube=lambda x : x*x*x 

cube(7) #here we call the lambda function

343

# Power

In [7]:
sol=lambda x : pow(x,x) #here in expression we use pow(x,x) that means x to the power x

sol(4)

256

In [9]:
sol(2)

4

In [10]:
number =int(input("Enter a number which power you want")) 
#here we take the input from user and assign it to the vairable number

sol(number) #here we call the function

Enter a number which power you want2

4

# find minimum number

In [14]:
minimum= lambda x,y : x if (x<y) else y


minimum(40,76)

40

In [12]:
minimum(50,30)

30

# Find maximum number

In [13]:
maximum= lambda x,y : x if (x>y) else y

maximum(40,76)

76

# Write the table of 2 using function and lambda function

## using function

In [26]:
def table(number): 
#here we create a function using def keyword and also create a function name table and assign a argument number
     for i in range(1,11): 
        
#we want to print the table so we create a for loop range (1,11), we use 1 bcz we want to start from 1 and 11 bcz it print(n-1)
#means (11-1)=10
        
           print(number, "*", i, "=", number * i, )
#here we write the expression which we want to print, we use ("") where we want to print the same. 



table(5) #here we call the function

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [27]:
#take input from user

def table(number):
     for i in range(1,11):
        print(number, "*", i, "=", number * i, )
        

number=int(input("Enter a number which table you want to print"))
#here we take the input from user


table(number)#call the function by passing the argument named number

Enter a number which table you want to print7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## Using Lambda function

In [39]:
sol = lambda x,y : x * y 
#we use two argument x and y where x hold the value of number which table we want to print and y hold the value of i which itrate
#the value from (1,11) one by one.

number=2  #here we passed the value which table we want to print.
          # and assigned it to the vairable number, we also use (x) in place of number.

for i in range(1,11): #here we create a for loop
    
    print(number, "*",i, "=", sol(number,i))#here we print and call the function with the help of  [sol(number,i)]

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [35]:
sol = lambda x,y : x * y
numbers=5

for i in range(1,11):
    print(number, "*",i, "=", (numbers * i))
    

sol(numbers,i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

50

In [40]:
#taking input from user

sol = lambda x,y : x * y
num=int(input("Enter a number you want to print"))    #here we take the input from user

for i in range(1,11):
    print(num, "*",i, "=", (num * i))
    

sol(num,i)

Enter a number you want to print5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

50

#Note- Always define the variable which table you want to print before for loop

# Some program using function and Lambda function

## Adding two value

In [44]:
#using function

def add(a,b): 
    c=a+b
    return c

sum=add(10,30)
print("sum =", sum)

sum = 40

In [47]:
#with lambda function

addition=lambda x,y : x+y

addition(100,56)

156

# Check even & odd

## with lambda function

In [55]:
list=[1,2,3,4,5,6,7,8,9,10,11,12]

#use lambda function if value even or odd
is_even=lambda x : x%2==0                 #2,4,6,8,10,12 if condition satisfied this value store in vairable is_even
is_odd= lambda x : x%2 !=0                #1,3,5,7,9,11  if condition satisfied this value store in vairable is_odd

even_num=[]                               #here we create a blank list so we could add the value here
odd_num=[]

for i in list:               #Use a loop to iterate over the list and get even and odd numbers
    if is_even(i):           #first i iterate 1 then check where 1 is (in is_even or is_odd) after that it execute
        even_num.append(i)   # if 1 is in is_even if condition satisfied and append the result in even_num[]
                             # otherwise else result is satisfied
    else:
        odd_num.append(i)
        

#Here we print the result
print("Even number:", even_num)
    
print("Odd number:", odd_num)

Even number: [2, 4, 6, 8, 10, 12]
Odd number: [1, 3, 5, 7, 9, 11]

In [86]:
#Using function

x1=[1,2,3,4,5,6,7,8]
even_number=[]
odd_number=[]

def even_odd(x1):
    
    for i in x1:
        if i%2==0:
            even_number.append(i)
        else:
            odd_number.append(i)


even_odd(x1)
print("even numbers =",even_number)
print("odd numbers =",odd_number)

even numbers = [2, 4, 6, 8]
odd numbers = [1, 3, 5, 7]